$color-btn: #30A080 !default;
$color-btn-active:#2a8c70 !default;

html {
  font-size: 20px;
}

body {
  font: 14px/1.62 Helvetica, Arial, sans-serif;
}

.mb4 {
  margin-bottom: 4px;
}

.pore {
  position: relative;
}

.ibmidle {
  display: inline-block;
  vertical-align: middle;
}

.btn {
  & {
    height: 1.5rem;
    padding: 0 1rem;
    color: #fff;
    background: $color-btn;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 12px;
    cursor: pointer;
    width: 4.5rem;
    line-height: 1.5rem;
    -webkit-appearance: none;
    @extend .ibmidle
  }

  &.hover {
    background-color: $color-btn-active;
  }
}
